<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Springboot Subscribers Application</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <p class="text-end d-block mb-2">Add new subscriber <span><button class="btn"><a th:href="@{/subscribers/new}"
              class="fas fa-plus text-end"></a></button></span></p>
    </div>
    <div class="row">
      <table class="table table-hover align-middle">
        <thead>
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="subscriber : ${subscribers}">
            <th scope="row" th:text="${subscriber.subscriberId}">#ID</th>
            <td th:text="${subscriber.firstName}">First Name</td>
            <td th:text="${subscriber.lastName}">Last Name>Otto</td>
            <td th:text="${subscriber.email}">Email</td>
            <td th:text="${subscriber.createdAt}">Created At</td>
            <td class="text-center">
              <button class="btn"><a th:href="index" class="fas fa-eye"></a></button>
              <button class="btn"><a th:href="index" class="fas fa-edit"></a></button>
              <button class="btn"><a th:href="index" class="fas fa-trash-alt"></a></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
  </script>
</body>

</html>